* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-weight: bold;
  overflow-x: hidden;
  overflow: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  z-index: 3;
  max-width: 100%;
  padding-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 600 1em "Oswald", sans-serif;
}

h1 {
  font-size: 58px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font: 500 1em "Oswald", sans-serif;
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  width: 100%;
  border-bottom: 2px solid #ebebeb;
}

header nav .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

header nav .header-left ul {
  padding-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

header nav .header-left ul li {
  padding-left: 50px;
}

header nav .header-left ul li a {
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #d2d2d2;
}

header nav .header-left ul li a:hover {
  color: black;
}

header nav .header-logo {
  padding: 30px 0 30px 30px;
}

header nav .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 20px 0px 0px;
}

footer {
  overflow: hidden;
  font: 500 1em "Oswald", sans-serif;
  background-color: #1d1f24;
  width: 100%;
}

footer nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 750px;
}

footer .footer-left ul li {
  width: 180px;
  padding: 10px 0 0 0;
}

footer .footer-left ul li a {
  text-align: start;
  padding: 10px 60px 10px 60px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

footer .footer-left ul li a:hover {
  color: #ff565c;
}

footer .logo-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-logo {
  padding: 0 0 15px 30px;
}

footer .copyright {
  font: 400 1em "Lato", sans-serif;
  color: #bbbbbd;
  margin-left: 30px;
}

footer .footer-right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 30px 40px 30px;
}

footer .footer-right .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 18px 18px 18px;
}

footer .footer-right .social-media p {
  font: 400 1em "Lato", sans-serif;
  color: #a5a6a8;
}

footer .footer-right .social-media a {
  padding: 0 10px 0 10px;
}

footer .footer-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-right form input {
  height: 35px;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 1px;
  border: 0;
  border-radius: 0;
}

footer .footer-right form input[type="email"] {
  font: 400 1em "Lato", sans-serif;
  padding: 10px 15px 14px 15px;
}

footer .footer-right form input[type="submit"] {
  font: 500 1em "Oswald", sans-serif;
  line-height: 16px;
  background-color: #ff565c;
  color: white;
  padding: 11px 30px 14px 30px;
}

.nomarkerlist {
  /*no marker ul list*/
  list-style-type: none;
}

.notextdec {
  /*text decoration none class*/
  text-decoration: none;
}

.black-header {
  color: #1d1f24;
}

.white-header {
  color: #fff;
}

.category {
  font: 500 1em "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  letter-spacing: 2px;
  font-size: 0.75em;
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 17px;
  background-color: #ff565c;
}

.card {
  position: relative;
  padding: 20px;
  color: #202121;
}

.card h3 {
  width: 65%;
  font: 700 1em "Lato", sans-serif;
  font-size: 25px;
  padding-top: 2%;
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-text {
  padding-top: 12px;
  color: #5f6165;
  font: 400 1em "Lato", sans-serif;
  font-size: 18px;
  width: 70%;
  line-height: 1.5 !important;
}

.card-footer {
  position: absolute;
  bottom: 25px;
}

.card-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
}

.card-footer ul li img {
  width: 22px !important;
  height: 16px !important;
}

.card-footer span {
  margin-left: 10px;
  font: 700 1em "Lato", sans-serif;
}

@media (max-width: 480px) {
  nav {
    padding-top: 50px !important;
  }
  .header-left ul {
    display: none !important;
  }
  .footer-right {
    width: 100% !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .footer-left {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .footer-left ul {
    margin-left: 30px !important;
    margin-top: 25px !important;
  }
  .footer-left ul li a {
    padding: 5px 5px !important;
  }
}

@media (min-width: 480px) and (max-width: 1023px) {
  .header-left ul {
    display: none !important;
  }
  footer {
    min-height: 265px;
  }
  footer nav {
    padding-top: 50px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .footer-right {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .footer-right form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-right .social-media {
    padding: 0 0 0 20px !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 1024px) and (max-width: 1360px) {
  footer nav {
    padding-top: 50px !important;
  }
  .footer-right {
    width: 100% !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}

@media (max-width: 480px) {
  .grid-container {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    grid-auto-rows: 275px !important;
  }
  .grid-item {
    grid-column: span 1 !important;
  }
}

@media (min-width: 480px) and (max-width: 1023px) {
  .grid-container {
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    grid-auto-rows: 275px !important;
  }
  .grid-item h3 {
    font-size: 22px !important;
    padding-left: 25px !important;
  }
  .big-slider {
    grid-column: span 2 !important;
    grid-row: span 2 !important;
  }
  .big-slider h3 {
    min-width: 350px !important;
  }
  .vertical-card {
    grid-column: span 2 !important;
    -ms-grid-row: 5 !important;
        grid-row-start: 5 !important;
  }
  .vertical-card h2 {
    font-size: 24px !important;
  }
  .vertical-card p {
    margin-top: 10px !important;
    font-size: 14px !important;
  }
  .vertical-card button {
    height: 50px !important;
    padding: 5px 40px !important;
    margin-top: 15px !important;
  }
  .wide-card {
    grid-column: span 1 !important;
  }
  .wide-card h3 {
    font-size: 18px !important;
  }
  .features-card {
    grid-row: span 2 !important;
    -ms-grid-row: 3 !important;
        grid-row-start: 3 !important;
    grid-row-end: 5 !important;
  }
  .change-order {
    -webkit-box-ordinal-group: 9 !important;
        -ms-flex-order: 8 !important;
            order: 8 !important;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .vertical-card h2 {
    font-size: 26px !important;
  }
  .vertical-card button {
    padding: 20px 40px !important;
  }
  .grid-item h3 {
    font-size: 20px !important;
  }
}

@media (min-width: 1280px) and (max-width: 1400px) {
  .grid-item h3 {
    font-size: 22px !important;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-gap: 32px;
  padding: 30px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 275px 275px 275px 275px;
      grid-template-rows: 275px 275px 275px 275px;
}

.grid-item {
  border: 1px solid #f2f3f6;
  position: relative;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
}

.grid-item img {
  filter: contrast(60%);
  -webkit-filter: contrast(60%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wide-card {
  grid-column: span 2;
}

.wide-card .category {
  z-index: 3;
  position: absolute;
  top: 8%;
  left: -5px;
}

.wide-card h3 {
  padding-top: 5px;
  padding-left: 35px;
  position: absolute;
  top: 75px;
  font: 400 1em "Lato", sans-serif;
  text-align: start;
  position: absolute;
  font-size: 26px;
  width: 80%;
}

.features-card {
  color: black;
  grid-row: span 2;
  grid-column: span 1;
}

.features-card h5 {
  text-align: start;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 20px;
}

.features-card ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-card li {
  -ms-flex-preferred-size: 111.7px;
      flex-basis: 111.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 0 20px 0;
  font: 700 1em "Lato", sans-serif;
}

.features-card span {
  width: 10%;
  color: #dbdbdb;
  padding-right: 25px;
  padding-left: 20px;
}

.features-card p {
  font-size: 14px;
  text-align: start;
  display: inline-block;
}

.vertical-card {
  grid-row: span 2;
  background-color: #ff565c;
  padding: 25px 20px;
  text-align: start;
}

.vertical-card h2 {
  font: 600 1em "Oswald", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

.vertical-card p {
  margin-top: 20px;
  font: 400 1em "Lato", sans-serif;
}

.vertical-card button {
  height: 60px;
  margin-top: 30px;
  font: 600 1em "Oswald", sans-serif;
  letter-spacing: 0.5px;
  border: 1px solid white;
  background-color: #ff565c;
  color: white;
  padding: 16px 60px;
  text-overflow: wrap-text;
}

.grid-card h3 {
  padding-top: 5px;
  padding-left: 35px;
  position: absolute;
  top: 75px;
  font: 400 1em "Lato", sans-serif;
  text-align: start;
  position: absolute;
  font-size: 26px;
  width: 80%;
}

.grid-card .category {
  z-index: 3;
  position: absolute;
  top: 8%;
  left: -5px;
}

.big-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column: span 3;
  grid-row: span 2;
}

.big-slider .slider-text {
  position: absolute;
  width: 80%;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-slider .slider-text h3 {
  position: relative;
  margin-top: 65px;
  min-width: 500px;
  font: 500 1em "Oswald", sans-serif;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  font-size: 26px;
  width: 80%;
}

.big-slider .slider-text p {
  position: relative;
  margin-top: 150px;
  width: 100%;
  color: white;
  font: 400 1em "Lato", sans-serif;
  font-size: 18px;
}

.big-slider .card-footer {
  bottom: 35px !important;
}
/*# sourceMappingURL=homepage2.css.map */