@import "style";
@media (max-width: 480px) {
	.card {
		padding: 20px 0 20px 0 !important;
		.category {
			width: 136px;
			height: 40px;
		}
	}
	.mid-card {
		.card-image {
			width: 100%;
			height: 265px;
			margin: 0;
		}
	}
	.small-card {
		.card-image {
			width: 100%;
			height: 175px;
			margin: 0;
		}
	}
	.flex-list {
		.column {
			flex-basis: 100% !important;
		}
	}
}
@media (min-width: 480px) and (max-width: 1023px) {
	.mid-card {
		.card-image {
			width: 100%;
			height: 330px;
			margin: 0;
		}
	}
	.small-card {
		.card-image {
			width: 100%;
			height: 165px;
			margin: 0;
		}
	}
	.flex-list {
		.column {
			flex-basis: 50% !important;
		}
	}
	.flex-list .column:last-child {
		flex-grow: 2;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.card {
			width: 50%;
		}
	}
}
@media (min-width: 1024px) {
	.mid-card {
		.card-image {
			width: 100%;
			height: 400px;
			margin: 0;
		}
	}
	.small-card {
		.card-image {
			width: 100%;
			height: 200px;
			margin: 0;
		}
	}
	.flex-list {
		.column {
			flex-basis: 33.3333% !important;
		}
	}
}
//components
.category {
	position: absolute;
	left: -5px;
	bottom: 20px;
}
.flex-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 0 0 auto;
	justify-content: flex-start;
	align-items: flex-start;
	.column {
		flex: 0 0 auto;
		display: flex;
		padding-left: 20px;
		padding-right: 20px;
		flex-direction: column;
		flex-wrap: wrap;
	}
}
