$page-background: white;
$navbar-anchor: rgb(210, 210, 210);
$navbar-heigth: 90px;
$footer-heigth: 160px;
$footer-links: white;
$footer-background: rgb(29, 31, 36);
$main-font: "Lato", sans-serif;
$logo-font: "Lato", sans-serif;
$category-font: "Oswald", sans-serif;
$logo-color: #1d1f24;
$card-margin: 20px;

/*General Styles*/
@media (max-width: 480px) {
	nav {
		max-height: 70px;
		.header-left {
			ul {
				display: none !important;
			}
		}
	}
	.card {
		padding: 20px 0 20px 0 !important;
		.category {
			width: 136px;
			height: 40px;
		}
	}
	.mid-card {
		.card-image {
			width: 100%;
			height: 265px;
		}
	}
	.small-card {
		.card-image {
			width: 100%;
			height: 175px;
			margin: auto;
		}
	}
	.flex-list {
		.column {
			flex-basis: 100% !important;
		}
	}
	footer {
		min-height: 440px;
		nav {
			flex-direction: column;
			.footer-left {
				flex-direction: column;
				justify-content: flex-start;
				ul {
					margin-left: -30px !important;
					width: 500px !important;
					padding-left: 0px !important;
				}
			}
			.footer-right {
				flex-direction: column !important;
				form {
					order: 1;
				}
				.social-media {
					order: 2;
				}
			}
		}
	}
}
@media (min-width: 480px) and (max-width: 1024px) {
	// 768px altında iki sütün
	nav {
		max-height: 80px;
		.header-left {
			ul {
				display: none !important;
			}
		}
	}
	.mid-card {
		.card-image {
			width: 100%;
			height: 330px;
		}
	}
	.small-card {
		.card-image {
			width: 100%;
			height: 165px;
			margin: auto;
		}
	}
	.flex-list {
		.column {
			flex-basis: 50% !important;
		}
	}
	.flex-list .column:last-child {
		flex-grow: 2;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.card {
			width: 50%;
		}
	}
	footer {
		min-height: 265px;
		nav {
			flex-direction: column;
			.footer-right {
				justify-content: flex-start !important;
				flex-direction: row !important;
				form {
					order: 1;
				}
				.social-media {
					padding: 0 0 0 20px !important;
					order: 2;
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	nav {
		max-height: 160px;
	}
	.mid-card {
		.card-image {
			width: 100%;
			height: 400px;
		}
	}
	.small-card {
		.card-image {
			width: 100%;
			height: 200px;
			margin: auto;
		}
	}
	.flex-list {
		.column {
			flex-basis: 33.3333% !important;
		}
	}
	footer {
		min-height: 160px;
	}
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	font-weight: bold;
	overflow-x: hidden;
	overflow: auto;
}
/*utilities*/
.nomarkerlist {
	/*no marker ul list*/
	list-style-type: none;
}
.notextdec {
	/*text decoration none class*/
	text-decoration: none;
}
/*sitewide*/
body {
	background-color: $page-background;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
header {
	display: flex;
	align-items: flex-start;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	width: 100%;
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 6px;
		width: 100%;
		border-bottom: 2px solid #ebebeb;
		.header-left {
			display: flex;
			align-items: center;
			flex: 0 0 auto;
			.header-logo {
				padding: 30px 0 30px 30px;
				.logo {
					color: $logo-color;
					font-family: $logo-font;
					font-weight: 600;
					font-size: 25px;
					.logo-dot {
						font-size: 30px;
						color: red;
					}
				}
			}
			ul {
				display: flex;
				flex: 0 0 auto;
				li {
					padding-left: 50px;
					a {
						font-size: 14px;
						text-decoration: none;
						color: $navbar-anchor;
					}
				}
			}
		}
		.header-right {
			display: flex;
			justify-content: center;
			padding: 0px 20px 0px 0px;
		}
	}
}
main {
	z-index: 3;
	max-width: 100%;
	padding-top: 20px;
}

footer {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	background-color: $footer-background;
	width: 100%;
	nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		.footer-left {
			display: flex;
			.logo-copyright {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				.footer-logo {
					padding: 30px 0 0 30px;
					.logo {
						line-height: 50px;
						color: rgb(73, 75, 79);
						font-family: $logo-font;
						font-weight: 600;
						font-size: 25px;
						.logo-dot {
							font-size: 30px;
							color: red;
						}
					}
				}
				.copyright {
					font-family: "Lato", sans-serif;
					font-weight: 400;
					color: rgb(187, 187, 189);
					margin-left: 30px;
				}
			}
			ul {
				padding: 10px 0px 0px 24px;
				margin: auto;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				width: 750px;
				li {
					width: 180px;
					a {
						text-align: start;
						padding: 10px 60px 10px 60px;
						font-size: 14px;
						text-decoration: none;
						color: $footer-links;
					}
				}
			}
		}
		.footer-right {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 30px 30px 0 30px;
			.social-media {
				display: flex;
				padding: 18px;
				p {
					font-family: "Lato", sans-serif;
					font-weight: 400;
					color: #a5a6a8;
				}
				a {
					padding: 0 10px 0 10px;
				}
			}
			form {
				display: flex;
				input {
					height: 35px;
					font-size: 12px;
					line-height: 10px;
					letter-spacing: 1px;
					border: 0;
					border-radius: 0;
				}
				input[type="email"] {
					font-family: "Lato", sans-serif;
					font-weight: 400;
					padding: 10px 15px 14px 15px;
				}
				input[type="submit"] {
					font-family: "Oswald", sans-serif;
					font-weight: 500;
					background-color: rgb(255, 86, 92);
					color: white;
					padding: 11px 30px 14px 30px;
				}
			}
		}
	}
}
.flex-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 0 0 auto;
	justify-content: flex-start;
	align-items: flex-start;
	.column {
		flex: 0 0 auto;
		display: flex;
		padding-left: 20px;
		padding-right: 20px;
		flex-direction: column;
		flex-wrap: wrap;
	}
}
.card {
	position: relative;
	padding: 20px;
	color: #202121;
	.card-image {
		position: relative;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.category {
		font-size: 12px;
		font-family: $category-font;
		font-weight: 600;
		position: absolute;
		left: -5px;
		bottom: 8%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		letter-spacing: 2px;
		font-size: 0.75em;
		padding-left: 25px;
		padding-right: 30px;
		padding-top: 10px;
		padding-bottom: 17px;
		background-color: rgb(255, 86, 92);
	}
	h3 {
		font-family: $main-font;
		font-weight: 700;
		padding-top: 2%;
	}
	.card-text {
		padding-top: 12px;
		color: #5f6165;
		font-family: $main-font;
		font-weight: 400;
		font-size: 14px;
	}
}
