$page-background: white;
$navbar-anchor: rgb(210, 210, 210);
$footer-heigth: 160px;
$footer-links: white;
$footer-background: rgb(29, 31, 36);
$lato-regular: 400 1em "Lato", sans-serif;
$lato-bold: 700 1em "Lato", sans-serif;
$oswald-regular: 400 1em "Oswald", sans-serif;
$oswald-semibold: 600 1em "Oswald", sans-serif;
$oswald-medium: 500 1em "Oswald", sans-serif;
$logo-color: #1d1f24;
$card-margin: 20px;

//General Styles
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	font-weight: bold;
	overflow-x: hidden;
	overflow: auto;
	background-color: $page-background;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
main {
	z-index: 3;
	max-width: 100%;
	padding-top: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font: $oswald-semibold;
}
h1 {
	font-size: 58px;
}
header {
	display: flex;
	align-items: flex-start;
	font: $oswald-medium;
	width: 100%;
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 6px;
		width: 100%;
		border-bottom: 2px solid #ebebeb;
		.header-left {
			display: flex;
			align-items: center;
			flex: 0 0 auto;
			ul {
				padding-bottom: 6px;
				display: flex;
				flex: 0 0 auto;
				li {
					padding-left: 50px;
					a {
						font-size: 12px;
						letter-spacing: 1px;
						text-decoration: none;
						color: $navbar-anchor;
					}
					a:hover {
						color: black;
					}
				}
			}
		}
		.header-logo {
			padding: 30px 0 30px 30px;
		}
		.header-right {
			display: flex;
			justify-content: center;
			padding: 0px 20px 0px 0px;
		}
	}
}
footer {
	overflow: hidden;
	font: $oswald-medium;
	background-color: $footer-background;
	width: 100%;
	nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.footer-left {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		ul {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			width: 750px;
			li {
				width: 180px;
				padding: 10px 0 0 0;
				a {
					text-align: start;
					padding: 10px 60px 10px 60px;
					font-size: 14px;
					text-decoration: none;
					color: $footer-links;
				}
				a:hover {
					color: #ff565c;
				}
			}
		}
	}
	.logo-copyright {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.footer-logo {
		padding: 0 0 15px 30px;
	}
	.copyright {
		font: $lato-regular;
		color: rgb(187, 187, 189);
		margin-left: 30px;
	}
	.footer-right {
		width: 30%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		padding: 30px 30px 40px 30px;
		.social-media {
			display: flex;
			padding: 0 18px 18px 18px;
			p {
				font: $lato-regular;
				color: #a5a6a8;
			}
			a {
				padding: 0 10px 0 10px;
			}
		}
		form {
			display: flex;
			input {
				height: 35px;
				font-size: 12px;
				line-height: 10px;
				letter-spacing: 1px;
				border: 0;
				border-radius: 0;
			}
			input[type="email"] {
				font: $lato-regular;
				padding: 10px 15px 14px 15px;
			}
			input[type="submit"] {
				font: $oswald-medium;
				line-height: 16px;
				background-color: rgb(255, 86, 92);
				color: white;
				padding: 11px 30px 14px 30px;
			}
		}
	}
}

//Components
.nomarkerlist {
	/*no marker ul list*/
	list-style-type: none;
}
.notextdec {
	/*text decoration none class*/
	text-decoration: none;
}
.black-header {
	color: #1d1f24;
}
.white-header {
	color: #fff;
}
.category {
	font: $oswald-medium;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	letter-spacing: 2px;
	font-size: 0.75em;
	padding-left: 25px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 17px;
	background-color: rgb(255, 86, 92);
}
.card {
	position: relative;
	padding: 20px;
	color: #202121;
	h3 {
		width: 65%;
		font: $lato-bold;
		font-size: 25px;
		padding-top: 2%;
	}
}
.card-image {
	position: relative;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.card-text {
	padding-top: 12px;
	color: #5f6165;
	font: $lato-regular;
	font-size: 18px;
	width: 70%;
	line-height: 1.5 !important;
}
.card-footer {
	position: absolute;
	bottom: 25px;
	ul {
		display: flex;
		li {
			display: flex;
			padding-left: 25px;
			img {
				width: 24px !important;
				height: 20px !important;
			}
		}
	}
	span {
		margin-left: 5px;
		font: $lato-bold;
	}
}
//media query
@media (max-width: 480px) {
	nav {
		padding-top: 50px !important;
	}
	.header-left {
		ul {
			display: none !important;
		}
	}
	.footer-right {
		width: 100% !important;
		align-items: flex-start !important;
	}
	.footer-left {
		flex-wrap: wrap !important;
		align-items: flex-start !important;
		ul {
			margin-left: 30px !important;
			margin-top: 25px !important;

			li {
				a {
					padding: 5px 5px !important;
				}
			}
		}
	}
}
@media (min-width: 480px) and (max-width: 1023px) {
	.header-left {
		ul {
			display: none !important;
		}
	}
	footer {
		min-height: 265px;
		nav {
			padding-top: 50px !important;
			flex-direction: column !important;
		}
	}
	.footer-right {
		justify-content: flex-start !important;
		flex-direction: row !important;
		form {
			order: 1;
		}
		.social-media {
			padding: 0 0 0 20px !important;
			order: 2;
		}
	}
}
@media (min-width: 1024px) and (max-width: 1360px) {
	.footer-right {
		width: 100% !important;
		align-items: flex-start !important;
	}
}
